#table {
  margin: 50px auto;
  width: 800px;
  height: 400px;
  background-color: green;
  border: brown solid 10px;
  border-bottom: brown solid 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.container {
  width:100%;
  height: 100%;
  text-align: center;
}

button {
  margin: 5px;
  background-color: lightblue;
  height: 40px;
  font-size: 1.5em;

}

#running-score {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border:solid black 2px;
}



#p1Position {
  width:300px;
  height:110px;
  margin: 100px auto;
}
#dealerPosition {
  width:300px;
  height:110px;
  margin: 50px auto;
}

.card {
  display: inline-block;
  border:black solid 1px;
  width: 55px;
  height: 80px;
  background-color: white;
  border-radius: 5px;
}
/*.card.horizTranslate {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: 50% !important;
  margin-top: 50%
}*/

.red {
  color: red;
}